
<%- include('../partials/header.ejs')%>
<div class = "centOut">
    <h2>
        <%= connection.name%>
    </h2>

    <h4> 
       Hosted By: <%= connection.author.firstName + ' ' + connection.author.lastName %>
    </h4>
    

    <p>Starts: <%= connection.startTime%> </p>
    <p> Ends:<%= connection.endTime%> </p>
    <p> <%= connection.date%> </p>
    <p><%= connection.name %></p>
    <img src="<%= connection.image %>" width="250" height="250">
    <p>Details: <br> <%= connection.details %> </p>
  
    <% if(user == connection.author._id){ %>
    <form>
        <button type = "submit" formmethod="GET" formaction="/connections/<%=connection.id%>/edit">Edit</button>
        <button type = "submit" formmethod="POST" formaction="/connections/<%=connection.id%>?_method=DELETE">Delete</button>
    </form>
    <%}%>
</div>

<%- include('../partials/footer.ejs')%>
