<%- include('../partials/header.ejs')%>
  <h1>Commuity Service</h1>
  <div class = "centOut"> 
    <form method = "POST" action = "/connections/<%=connection.id%>?_method=PUT">

    <label for="topic">Topic:</label>
    <input type="text" id="topic" name="topic" value = "<%= connection.topic%>">

    <label for="name">Event Name:</label>
    <input type="text" id="name" name="name" value = "<%= connection.name%>">

    <label for="hostName">Event Host:</label>
    <input type="text" id="hostName" name="hostName" value = "<%= connection.hostName%>">  
    
    <label for="date">Event Date:</label>   
    <input type="date" id="date" name="date" value = "<%= connection.date%>">

    <label for="startTime">Event Start Time:</label>
    <input type="datetime" id="startTime" name="startTime"value = "<%= connection.startTime%>">

    <label for="endTime">Event End Time:</label>
    <input type="datetime" id="endTime" name="endTime" value = "<%= connection.endTime%>">

    <label for="details">Event Description:</label>
    <textarea id="details" name="details" rows="4" cols="50"><%= connection.details%></textarea><br>
   
    <label for="image">Submit an image URL:</label>
    <input type="text" id="image" name="image" value = "<%= connection.image%>" ><br>
   

    <input type="submit">

  </form>
</div>
<%- include('../partials/footer.ejs')%>
