<%- include('../partials/header.ejs')%>

<h1>Upcoming Events</h1>
<div class="row">
    <%if(connections.length) {%>
        <p>Select a connection to view</p>
        <%connections.forEach(connection=>{%>  
        <div class = orange>
            <h3><%=connection.topic%></h3>           
            <a href="/connections/<%= connection.id%>"> <p><%=connection.name%></p></a>    
        </div>                       
        <%});
    }else{%>
        <p> There are no connections to display</p>
    <%}%> 
  </div>
  <%- include('../partials/footer.ejs')%>

